.modal { 
    width: 60% !important ; 
    height: 100% !important ; 
}

.modal-trigger {
    padding: 0;
    
}

select{
    display: block;
}

.carousel{
    text-align: center;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
    
  #graham {
      border-radius: 100px;
      /* margin-top: 10px; */
      width: 40px;
      height: 40px;
  }

  #addPhoto{
      visibility: hidden;
      position: fixed;
      bottom: 10%;
      right: 10%;
  }

 #one, #two, #three, #four, #five {
     height: 200px;
     width: 200px;
 }
 
 .container{
     border-radius: 10px;
 }

